form { display: block; width: 550px; margin: auto; }
input[type="submit"] { margin-left: 215px; }
span.err { color: #f00; }
label { width: 120px; display:inline-block; text-align: right; }
.highlight { 
background:#F84072;
border: 2px red solid;
}